<div class="container-fluid">
    <h1>Realisaties</h1>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/images/buffervat-mmt.jpg" alt="buffervat" class="img-thumbnail">
        </div>
        <div class="col-sm-8">
            <h3>Buffervaten</h3>
            <p>MMT is dé referentie in het ontwerpen en produceren van buffervaten. Aan de hand van de wensen van de klant of studiebureau ontwerpen en produceren wij buffertanks met een brede waaier aan toepassingsmogelijkheden. Van onze standaard vaten
                tot vaten perfect op maat gemaakt volgens Uw wensen, MMT maakt het waar. Door onze uitgebreide stock van materialen garanderen wij een korte levertermijn.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <h3>Toelevering HVAC Prefabsystemen</h3>
            <p>MMT heeft verschillende decennia ervaring in het ontwerpen, dimensioneren en produceren van prefab installatieonderdelen voor verwarmings- en koelinstallaties. Wij produceren verschillende standaard producten, zoals evenwichtsflessen, collectoren,
                broekstukken, inlasbochten, venturieblokken, vuilvangers, magneetfilters, enzovoort. Deze producten zijn terug te vinden in onze cataloog, maar worden ook verdeeld door verschillende groothandels.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="/assets/images/mmt-evenwichtfles.JPG" alt="buffervat" class="img-thumbnail">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <h3>Totaalprojecten voor de energiesector</h3>
            <p>Wij maken volledige collectoren en zelfs volledige technische ruimtes in prefab in een van onze montagehallen. Wij produceren deze aan de hand van plannen verstrekt door onze klanten, of door eigen plannen na opmetingen ter plekke. MMT beschikt
                over een sterk team van monteurs en lassers die uitgebreide ervaring hebben met dergelijke opdrachten. Deze bewezen manier van werken is kosteneffectief, maakt een uitvoering in een korte tijdsspanne op de werf mogelijk en maakt zelfs
                proefdraaien off site mogelijk. Ideaal bij een shut down in een bedrijf, of bij een beperkte uitvoeringstermijn.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/images/mmt-evenwichtfles.JPG" alt="buffervat" class="img-thumbnail">
        </div>
        <div class="col-sm-4">
            <h3>Collectoren</h3>
            <p>MMT heeft verschillende decennia ervaring in het ontwerpen, dimensioneren en produceren van prefab installatieonderdelen voor verwarmings- en koelinstallaties. Wij produceren verschillende standaard producten, zoals evenwichtsflessen, collectoren,
                broekstukken, inlasbochten, venturieblokken, vuilvangers, magneetfilters, enzovoort. Deze producten zijn terug te vinden in onze cataloog, maar worden ook verdeeld door verschillende groothandels.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="/assets/images/mmt-secundaire-collector.jpg" alt="buffervat" class="img-thumbnail">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <h3>Metaalconstructie en apparatenbouw</h3>
            <p>MMT heeft uigebreide ervaring met turn key projecten in de energiesector. Wij maken voor U metaalconstructies en apparaten, gekoppeld aan een uitgebreide expertise in projecten gerelateerd aan de energiesector. Van het inrichten van mobiele
                stookinstallaties, koelcentrales of warmtekrachtkoppeling, tot het opbouwen van skids in verschillende verdiepingen met inbegrip van alle piping, trappen, draagstucturen met looprooster en bordessen, dit alles heeft geen geheimen voor
                MMT. Volledig uitgevoerd volgens Uw wensen en plannen, in staal of roestvast staal.
            </p>
        </div>
    </div>


</div>