<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">M.M.T.</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a routerLink="/secundaire-collector-offerte">Secundaire collector</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Overview
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/offertes">Offertes</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <router-outlet></router-outlet>
            </div>
            <div class="col-sm-3">
                <h1>Contact</h1>
                <p>Je kan ons contacteren via email, telefoon of per brief naar ons kantoor in Tielt.</p>

                <p>
                    <a href="#">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>info@m-m-t.be
                </p>
                <p>
                    <span class="glyphicon glyphicon-envelope"></span> MMT bvba <br>Szamotulystraat 5 <br>8700 Tielt - Belgium<br/>
                </p>
                <p>
                    <span class="glyphicon glyphicon-phone"></span>T +32 (0)51 72 42 88<br/>
                </p>
                <a routerLink="/contact">
                    <button type="button" class="btn btn-primary btn-block">
                        Contact
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<hr>