<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">M.M.T. Offertes</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a routerLink="/">Primaire collector</a></li>
                <li><a routerLink="/offertes">Offertes</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
    <hr>
    <footer class="footer">
        MMT bvba - Szamotulystraat 5 - 8700 Tielt - Belgium - T +32 (0)51 72 42 88 - F +32 (0)51 72 56 03 <br/> info@m-m-t.be
    </footer>
</div>