<div *ngIf=isEdit>
    <h1>
        Offerte: Primaire collector
    </h1>
    <form>
        <div class=" form-group ">
            <label for="afstandTussenUitgangen ">Afstand tussen uitgangen</label>
            <input class="form-control" type="number" [(ngModel)]="afstandTussenUitgangen" name="afstandTussenUitgangen ">
        </div>
        <h4>Uitgangen</h4>
        <div class="form-group ">
            <div *ngFor="let oi of uitgangen; let j=index " class="list-group-item ">

                <div class='row'>
                    <div class="col-sm-2 ">
                        <div class='form-group'>
                            <label for="uitgang">Uitgang {{j + 1}}</label>
                            <button type="button" class="btn btn-default" (click)="deleteUitgang(j) ">
                                Verwijderen
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class='form-group'>
                            <label for="diameter">Diameter</label>
                            <input class="form-control" type="number" [(ngModel)]="oi.diameter" name="diameter-{{j}} ">
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class='form-group'>
                            <label for="heeftSchroefdraad">Schroefdraad</label>
                            <input class="form-control" type="checkbox" [(ngModel)]="oi.heeftScroefdraad" name="heeftSchroefdraad-{{j}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="float-sm-right ">
        <button type="button" class="btn btn-primary pull-right " (click)="addUitgang() ">
            Uitgang toevoegen
        </button>
    </div><br><br>
</div>

<div *ngIf=!isEdit class="form-group">
    <address>
  <strong>M-M-T bvba</strong><br>
  Szamotulystraat 5<br>
  8700 Tielt (Belgium)<br>
  <abbr title=" Phone ">Tel:</abbr> +32 (0)51 72 42 88<br>
  <a href="mailto:# ">info@m-m-t.be</a>
</address>
    <h1>
        Offerte: Primaire collector
    </h1>
    <ul class="list-group ">
        <li class="list-group-item ">Afstand tussen uitgangen: {{afstandTussenUitgangen}}</li>
        <li class="list-group-item ">Aantal uitgangen: {{uitgangen.length}}</li>
        <li *ngFor="let u of uitgangen; let i=index " class="list-group-item ">Uitgang {{i + 1}} met een diameter van {{u.diameter}} en {{u.heeftScroefdraad ? 'met' : 'zonder'}} schroefdraad</li>
    </ul>
</div>

<h4>Technische tekening</h4>
<div class="form-group" style="border-style: solid; border-width: 1px;">
    <canvas #myCanvas width="1500" height="400 ">
    </canvas>
</div>


<div class="float-sm-right " *ngIf=isEdit>
    <button type="button " class="btn btn-default pull-right " (click)="resetOfferte() ">
            Reset
    </button>
    <button type="button " class="btn btn-success pull-right " (click)="requestOfferte() ">
            Offerte aanvragen
    </button>
    <br><br>
</div>