<h1>
    Offerte: Primaire collector
</h1>
<form>
    <div>
        <label for="afstandTussenUitgangen">Afstand tussen uitgangen: </label>
        <input type="number" [(ngModel)]="afstandTussenUitgangen" name="afstandTussenUitgangen">
    </div>
    <h4>Uitgangen</h4>
    <div *ngFor="let oi of uitgangen; let j = index">
        <label for="diameter">Uitgang {{j + 1}} met diameter: </label>
        <input type="number" [(ngModel)]="oi.diameter" name="diameter-{{j}}">
        <label for="heeftSchroefdraad">Schroefdraad: </label>
        <input type="checkbox" [(ngModel)]="oi.heeftScroefdraad" name="heeftSchroefdraad-{{j}}">
    </div>

</form>

<h2>
    Overzicht data
</h2>
<ul>
    <li>Afstand tussen uitgangen: {{afstandTussenUitgangen}}</li>
    <li>Aantal uitgangen: {{uitgangen.length}}</li>
    <ul>
        <li *ngFor="let u of uitgangen; let i = index">Uitgang {{i + 1}} met een diameter van {{u.diameter}} en {{u.heeftScroefdraad ? 'met' : 'zonder'}} schroefdraad</li>
    </ul>
</ul>