/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
.navbar-inverse {
    background-color: #001d3b;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

h1 {
    color: #278145;
}

h3 {
    color: #278145;
}